<div id="<%= dom_id habit_completion %>">
  <div>
    <strong>Habit:</strong>
    <%= habit_completion.habit_id %>
  </div>

  <div>
    <strong>Completion date:</strong>
    <%= habit_completion.completion_date %>
  </div>

  <div>
    <strong>Goal type:</strong>
    <%= habit_completion.goal_type %>
  </div>

  <div>
    <strong>Goal amount:</strong>
    <%= habit_completion.goal_amount %>
  </div>

</div>
