<div id="<%= dom_id reminder %>">
  <div>
    <strong>Title:</strong>
    <%= reminder.title %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= reminder.description %>
  </div>

  <div>
    <strong>Due:</strong>
    <%= reminder.due %>
  </div>

  <div>
    <strong>Done:</strong>
    <%= reminder.done %>
  </div>

</div>
