<div id="<%= dom_id habit %>">
  <div>
    <strong>Title:</strong>
    <%= habit.title %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= habit.description %>
  </div>

  <div>
    <strong>Completion type:</strong>
    <%= habit.completion_type %>
  </div>

  <div>
    <strong>Completion threshold:</strong>
    <%= habit.completion_threshold %>
  </div>

  <div>
    <strong>Goal type:</strong>
    <%= habit.goal_type %>
  </div>

  <div>
    <strong>Goal amount:</strong>
    <%= habit.goal_amount %>
  </div>

</div>
